.recommendation{
  display: inline-block;
  width: 21%;
  padding: 17px 15px 19px 23px;
  border-radius: 5px;
  background-color: $white;
}

.recommendation__title{
  display: block;
  font-size: 20px;
  color: $grey-title;
  padding-bottom: 20px;
}

.recommendation__item{
  padding-bottom: 12px;
}

.recommendation__link{
  font-size: 16px;
  color: $light;
    &:hover{
      color: $orange;
    }
}
