//-шаблон для header
mixin description
  section.description
    article.description__article
      h2.description__title Зачем использовать ламинацию
      ul.description__list
        li.description__item
          .description__img.description__img--bg1
          .description__text.description__text--small 
            |Чтобы придать внешнему виду окна оригинальную выразительность,  
            |специалисты применяют ламинацию – приём, при помощи которого можно 
            |декорировать своё жилье с учетом самых современных веяний дизайнерского искусства.
        li.description__item
          .description__img.description__img--bg2
          .description__text.description__text--small 
            |При помощи ламинации оконного профиля можно, например, со всей 
            |точностью воспроизвести оттенки и структуру древесины: при этом  
            |обеспечивается полная визуализация натурального дерева, точно 
            |имитирующая расположение волокон. Помимо имитации деревянных  
            |поверхностей, применяют пленку самых разных цветов и фактур.   
      h2.description__title.description__title--second Как окна становятся цветными
      ul.description__list
        li.description__item.description__item--margin
          .description__number 1
          .description__text.description__text 
            |Собственно, процесс ламинации профиля ПВХ состоит в процедуре
            |нанесения на его поверхность декоративных высокопрочных плёнок
            |с применением специального клея и ламинирующих установок.
        li.description__item.description__item--margin
          .description__number 2
          .description__text.description__text
            |Плёнку прочно соединяют с профилем. При этом внешней стороне 
            |пленки свойственна высокая стойкость к повреждениям. В частности,
            |цветное пластиковое окно, прошедшее процесс ламинации, стойко 
            |переносит температурные колебания в диапазоне от -80°С до +130°С,
            |оно исключительно стойко к солнечному излучению. 
        li.description__item.description__item--margin
          .description__number 3
          .description__text.description__text    
            |Пластиковые окна, прошедшие процесс ламинации профилей, имеют срок 
            |службы гораздо больший, чем не ламинированные окна. В сравнении с
            |окнами из массива дерева, они значительно дешевле
