//-шаблон для header
mixin header
  header.header 
    a.logo(href='#')
      img.logo__img(src='../img/logo.png' alt='logo')
    a.header__calculate(href='#') Рассчитать стоимость
    .header__contact
      .header__time с 9 до 21 без выходных
      a.header__phone(href='#') +7 495 534-65-33  
              
