extends templates/template.pug
include templates/header.pug
include templates/nav.pug
include templates/title.pug
include templates/recommendation.pug
include templates/main-content.pug
include templates/description.pug
include templates/review.pug

block content
  //внешний контайнер
  .wrapper
    //внутренний контайнер для адаптива
    .container
      +header
      +nav(nav)
      .content   
        +title
        .content__section
          +recommendation(aside)
          main.content__block
            +main-content
            +description
            +review(review)
            
//- block scripts
        
