//переменные: цвета
$blue: #e1f0f8;
$white: #fff;
$orange: #f36240;
$grey-dark: #484745;
$grey-title: #4b4b4b;
$grey-light: #5f6973;
$light: #8a8a8a;
$light-caption: #a6a6a6;
$blue-hover: #7bc3d5;

//mixin
@import 'mixins/mixin.scss';

//block
@import 'block/adjustment.scss';
@import 'block/header.scss';
@import 'block/nav.scss';
@import 'block/title.scss';
@import 'block/recommendation.scss';
@import 'block/main-content.scss';
@import 'block/description.scss';
@import 'block/review.scss';
